**/build
**/coverage
**/dist
**/distribution
**/node_modules
about
packages/hypod-server/source
packages/hypod-server/scripts
packages/hypod-server/environment
packages/hypod-client/hypod-javascript/source/data
packages/hypod-client/hypod-javascript/source/objects
packages/hypod-client/hypod-javascript/source/services
packages/hypod-client/hypod-javascript/tests
scripts/*.deon
LICENSE
LICENSE.deon
*.png
*.ai
